/* Home.css */
body {
    margin: 0; /* Ta bort standardmarginaler från body */
    height: 100vh; /* Hela skärmens höjd */
    background-color: white; /* Vit bakgrundsfärg runt hela sidan */
}

.home-page {
    display: flex;
    justify-content: center; /* Horisontellt centrera */
    align-items: center; /* Vertikalt centrera */
    height: 100%; /* Hela skärmens höjd */
}

.order-btn {
    position: absolute;
    bottom: 10px; /* Öka avståndet från botten för att flytta ner knappen mer */
    left: 90vh; /* Justera avståndet från högerkanten efter behov */
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer; 
}

.image-container {
    position: absolute;
    top: 10px;
    left: 25%; /* Justera avståndet från vänsterkanten efter behov */
    width: 50%; /* Minska bredden på bilden till 50% av sidans bredd */
    height: 100%;
    margin-bottom: 20px; /* Lägger till lite mellanrum mellan bilden och knappen */
}

.image-container img {
    max-width: 100%; /* Sätt maxbredden till 100% av förälderns bredd */
    max-height: 100%; /* Sätt maxhöjden till 100% av förälderns höjd */
} 


